In [3]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# Import CSVs
salary_file = "./resources/teacher-salary-2017.csv"
academic_file = "./resources/academic-performance-2017.csv"

In [5]:
# Convert CSVs to Dataframes
salary_df = pd.read_csv(salary_file)
academic_df = pd.read_csv(academic_file)

In [6]:
# # Show initial salary DataFrame
# salary_df

In [7]:
# # Show initial academic DataFrame
# academic_df

In [8]:
# Reduce size of salary_df to only have state and year
salary_data = {'State':salary_df['State'],
              '2016-2017 Salary':salary_df['2016-17.1']}
salary_df = pd.DataFrame(salary_data)

In [9]:
# Rename Jurisdiction to State in academic_df
academic_data = {'State':academic_df['Jurisdiction'],
                'At or Above Basic':academic_df['AB'],
                'At or Above Proficient':academic_df['AP']}
academic_df = pd.DataFrame(academic_data)

In [10]:
# Show salary_df after updates
salary_df['2016-2017 Salary']=salary_df['2016-2017 Salary'].str.replace(',','')
salary_df

                    State 2016-2017 Salary
0                Alabama             48868
1                 Alaska             68138
2                Arizona             47403
3               Arkansas             48616
4             California             78711
5               Colorado             46506
6            Connecticut             72561
7               Delaware             60214
8   District of Columbia             76131
9                Florida             49407
10               Georgia             54602
11                Hawaii             57674
12                 Idaho             47504
13              Illinois             61602
14               Indiana             50554
15                  Iowa             55443
16                Kansas             47984
17              Kentucky             52339
18             Louisiana             50000
19                 Maine             51077
20              Maryland             66961
21         Massachusetts             77804
22              Michigan             62200
23             Minnesota             57346
24           Mississippi             42925
25              Missouri             48293
26               Montana             51422
27              Nebraska             52338
28                Nevada             57376
29         New Hampshire             57253
30            New Jersey             69623
31            New Mexico             47500
32              New York             79637
33        North Carolina             49837
34          North Dakota             51618
35                  Ohio             57000
36              Oklahoma             45245
37                Oregon             61631
38          Pennsylvania             65863
39          Rhode Island             66477
40        South Carolina             48598
41          South Dakota             42668
42             Tennessee             48456
43                 Texas             52575
44                  Utah             47244
45               Vermont             60187
46              Virginia             51049
47            Washington             54147
48         West Virginia             45701
49             Wisconsin             54998
50               Wyoming             58650

In [18]:
# show academic_df after updates
performances_df= academic_df.drop([53,1])
performancer_df= performances_df.drop([2,2])
performance_df= performancer_df.drop([30,3])
performance_df

                   State  At or Above Basic At or Above Proficient
0          Massachusetts                 87                     53
4             New Jersey                 87                     50
5                Wyoming                 89                     51
6                Indiana                 86                     48
7                Florida                 88                     48
8               Nebraska                 85                     49
9          New Hampshire                 85                     48
10          North Dakota                 85                     46
11                  Iowa                 83                     46
12                  Utah                 81                     45
13            Washington                 80                     42
14          Pennsylvania                 80                     44
15          South Dakota                 83                     43
16                Kansas                 82                     42
17        North Carolina                 81                     42
18                 Texas                 82                     41
19                  Ohio                 81                     41
20               Vermont                 81                     42
21               Montana                 83                     41
22              Colorado                 80                     42
23              Maryland                 78                     42
24             Wisconsin                 79                     42
25                 Idaho                 81                     40
26                 Maine                 81                     40
27              Missouri                 79                     40
28           Connecticut                 79                     40
29              Kentucky                 80                     40
31              Illinois                 76                     39
32                Hawaii                 79                     38
33          Rhode Island                 79                     39
34              Oklahoma                 80                     35
35             Tennessee                 77                     36
36               Georgia                 77                     35
37              Delaware                 77                     36
38         West Virginia                 78                     35
39              Michigan                 75                     36
40              New York                 76                     35
41           Mississippi                 77                     31
42               Arizona                 73                     34
43        South Carolina                 75                     32
44              Arkansas                 75                     33
45                Oregon                 73                     33
46            California                 71                     31
47               Alabama                 73                     31
48                Nevada                 73                     31
49  District of Columbia                 69                     32
50                Alaska                 71                     32
51            New Mexico                 69                     27
52             Louisiana                 71                     27

In [19]:
# Merge DataFrames for all states that match
final_data = {'State':salary_df['State'],
              '2016-2017 Salary':salary_df['2016-2017 Salary'],
              'At or Above Basic':academic_df['At or Above Basic'],
              'At or Above Proficient':academic_df['At or Above Proficient']
             }
final_df = pd.DataFrame(final_data)

In [20]:
# Drop NaN values
final_df = final_df[final_df['State'].notna()]

In [21]:
# Display final df
final_df

,State,2016-2017 Salary,At or Above Basic,At or Above Proficient
0,Alabama,48868,87,53
1,Alaska,68138,86,53
2,Arizona,47403,91,51
3,Arkansas,48616,87,50
4,California,78711,87,50
5,Colorado,46506,89,51
6,Connecticut,72561,86,48
7,Delaware,60214,88,48
8,District of Columbia,76131,85,49
9,Florida,49407,85,48
10,Georgia,54602,85,46
11,Hawaii,57674,83,46
12,Idaho,47504,81,45
13,Illinois,61602,80,42
14,Indiana,50554,80,44
15,Iowa,55443,83,43
16,Kansas,47984,82,42
17,Kentucky,52339,81,42
18,Louisiana,50000,82,41
19,Maine,51077,81,41
20,Maryland,66961,81,42
21,Massachusetts,77804,83,41
22,Michigan,62200,80,42
23,Minnesota,57346,78,42
24,Mississippi,42925,79,42
25,Missouri,48293,81,40
26,Montana,51422,81,40
27,Nebraska,52338,79,40
28,Nevada,57376,79,40
29,New Hampshire,57253,80,40
30,New Jersey,69623,79,40
31,New Mexico,47500,76,39
32,New York,79637,79,38
33,North Carolina,49837,79,39
34,North Dakota,51618,80,35
35,Ohio,57000,77,36
36,Oklahoma,45245,77,35
37,Oregon,61631,77,36
38,Pennsylvania,65863,78,35
39,Rhode Island,66477,75,36
40,South Carolina,48598,76,35
41,South Dakota,42668,77,31
42,Tennessee,48456,73,34
43,Texas,52575,75,32
44,Utah,47244,75,33
45,Vermont,60187,73,33
46,Virginia,51049,71,31
47,Washington,54147,73,31
48,West Virginia,45701,73,31
49,Wisconsin,54998,69,32
50,Wyoming,58650,71,32

In [22]:
connection_string = "postgres:0217@localhost:5432/Student Performance"
engine = create_engine(f'postgresql://{connection_string}')

In [23]:
# Confirm tables
engine.table_names()

['performance', 'salary']

In [25]:
salary_df.to_sql(name='salary', con=engine, if_exists='append', index=False)

In [26]:
performance_df.to_sql(name='performance', con=engine, if_exists='append', index=False)